body {
  background: #fffef2;
}

.hero {
  background: #d8c19e;
  text-align: center;
  padding: 120px 20px;
}
.home-h1 {
  color: black;

  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 65px;
  margin-bottom: 20px;
  line-height: 1.1;
  margin-left: 15px;
  margin-top: 15px;
}

.hero h2 {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: light 300;
  text-align: center;
  margin-top: -5px;

  margin-left: 15px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 75px;
}
h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  text-align: center;
}

.shecodes-link {
  text-decoration: none;
  color: black;

  font-family: "Raleway", sans-serif;
  transition: all 100ms ease-in-out;
  text-align: center;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: lighter;
  margin-left: 15px;
}
.shecodes-link:hover {
  font-size: 20px;
  color: black;
}

footer .icon-project-links {
  display: flex;
  justify-content: center;
  padding: 20px 6px 0px 6px;
}

footer .icon-project-links a {
  margin: 0 10px;
  color: black;
  background: #fffef2;
  padding: 20px 6px 0px 6px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  margin-top: -65px;
}

footer .icon-links:hover {
  font-size: 20px;
}
.btn-branding-outline {
  font-family: "Open Sans", sans-serif;

  text-align: center;
  transition: all 100ms ease-in-out;

  padding: 18px;
}
.btn-branding-outline a {
  color: black;
  text-decoration: none;
  background-color: #fffef2;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 100ms ease-in-out;
  font-size: 15px;
  line-height: 27px;
  padding: 20px 15px 20px;
}

.btn-branding-outline a:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.project-page {
  text-align: center;
}
.projects-h1 {
  text-align: center;
  margin-top: 90px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: black;
}

.projects-info {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  text-align: center;

  font-size: 20px;
  padding: 18px;
}

.img-fluid {
  text-align: center;
  display: block;
  position: relative;
  border-radius: 5px;
  padding: 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 25px;
}
.project-container {
  max-width: 100%;
  margin: 40px 0px;
}
p {
  padding: 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

.about-h1 {
  text-align: left;
  font-size: 50px;
  margin-top: 40px;
  right: 90px;
  margin-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.about-text {
  font-size: 18px;
  line-height: 2;
  text-align: left;

  margin-top: 20px;
  max-width: 120%;
}

.second-word {
  color: black;
  font-size: 50px;
}

.contact-h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
  right: 90px;
  margin-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.contact {
  text-align: center;
  font-size: 28px;
  margin-top: 80px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-weight: lighter;
}

.contact-info {
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
  text-decoration: none;
  color: black;
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
}

.contact-info:hover {
  color: black;
  font-size: 30px;
}

nav {
  padding: 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  margin-right: 50px;
  background-color: #fffef2;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: black;
}

.footer-box {
  margin: 60px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  display: block;
  position: relative;
  color: white;
  background-color: #252525;
  text-align: center;
}

footer .contact-box {
  padding: 30px 120px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: #252525;
  color: white;
}

footer .contact-box h7 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  text-align: center;
  display: block;
  position: relative;
  font-size: 20px;
}

footer.text-muted {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  text-align: center;
  margin: 15px;

  display: block;
  position: relative;
}

footer .social-links {
  color: white;
  background: #252525;
}
footer .social-links a {
  color: white;
  background: #252525;
  margin-top: 20px;
  border: none;
  margin: 0 10px;
  border: none;
  font-size: 22px;
}

footer .btn-branding {
  color: white;
  background: #252525;
  border: 1px solid white;
  border-radius: 5px;
}
footer .btn-branding:hover {
  font-size: larger;
  color: white;
  background: #252525;
}
.hero-contact {
  background: #d8c19e;
  text-align: center;
  padding: 100px 20px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}
