/*   font-family: "Bitter", serif;
 */
body {
  background: #f9eee4;
}
h1 {
  color: linear-gradient(#f67748, #ffbda6);
  font-family: "Bitter", serif;
  font-weight: bold;
  text-align: right;
  font-size: 110px;
  margin-bottom: 20px;
  line-height: 1;
}

.hero h2 {
  color: #e391ab;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: light 300;
  text-align: right;
  margin-bottom: 20px;
}

h3 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.hero {
  background: #f9eee4;
  text-align: left;
}

.shecodes-link {
  text-decoration: none;
  color: #1869e5;

  font-family: "Raleway", sans-serif;
  transition: all 100ms ease-in-out;
  text-align: right;
  position: relative;
  display: block;
  font-size: 15px;
  font-weight: bold;
}
.shecodes-link:hover {
  font-size: 20px;
  color: #7facef;
}

.icon-links {
  display: flex;
  justify-content: center;
}

.icon-links a {
  padding: 105px 15px 0px 15px;
  text-align: center;
  color: black;
  font-size: 30px;
  transition: all 100ms ease-in-out;
}

.icon-links:hover {
  font-size: 40px;
}
.project-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  transition: all 100ms ease-in-out;
  font-size: 30px;
  padding: 18px;
}
.project-link a {
  color: black;
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

.project-link:hover {
  font-size: 20px;
  color: black;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}
